body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
  }
  .Cimg{
    height: 400px;
    width: 100%;
  }
  html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  .column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 15px;
  }
  .row{
    width: 95%;
    padding-left: 95px;
    display: flex;
    justify-content: center;
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
    
  }
  
  
  .about-section {
      margin-top: 15px;
    padding-top: 15px;
    /*padding: 50px;*/
    padding-bottom: 45px;
    text-align: center;
    background-color: #ff4a4a;
    color: white;
  }
  
  .container {
    padding: 0 16px;
    padding-top: 15px;

  }
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .abttitle {
    color: grey;
    font-family: Arial, Helvetica, sans-serif;
  }
   .Abouth1{
    text-align:center;
     font-size: 2.6em;
     font-weight: bold;
     color: #ff4a4a;
     font-family: 'Droid Serif';
     padding-top: 30px;
     padding-bottom: 15px;
   }
   .abtmail{
     font-weight: lighter;
     color: black;
     font-family: Arial, Helvetica, sans-serif;
  }
  .abtp{
    font-size: 1.5em;
    font-style: italic;
    font-weight: lighter;
    font-family: 'Droid Serif';
  }
  .abth2{
    font-family: Arial, Helvetica, sans-serif;
  }
  .abtush1{
    font-size: 2.6em;
    padding-bottom: 10px;
    font-family: 'Droid Serif';
  }
  .body {
    background-color: rgba(221,87,128,0.8);
   /* background-color: #536bc1;*/
    padding: 50px 30px;
    text-align: center;
    color: #ffffff;
    border: 10px solid #ffffff;
    
  }
  
  
  .explanation {
    max-width: 60ch;
    margin: 0 auto 2em;
    font-size: 2.3em;
    font-family: 'Droid Serif';
    font-weight: bolder;
    opacity: 0.75;
  }
  .source{
    max-width: 60ch;
    margin: 0 auto 2em;
    font-size: 2.3em;
    font-family: 'Droid Serif';
    font-weight: bolder;
    
  }
  
  .testimonial-slider {
     display: block;
     width: 100%;
     height: auto;
     margin-top: 100px;
  }
  
  .testimonial-slider ul.slider {
     display: block;
     list-style: none;
     padding: 0;
     position: relative;
     display: inline-block;
     width: 100%;
     height: 275px;
     overflow: hidden;
     margin: 0 auto;
  }
  
  .testimonial-slider ul.slider li {
      position: absolute;
      display: block;
      width: 100%;
      opacity: 0;
      margin: 0 auto;
  }
  .testimonial-slider ul.slider li:nth-child(1) {
      opacity: 1;
  
      -webkit-animation: fade-animation-1 25s infinite;
              animation: fade-animation-1 25s infinite;
  }
  .testimonial-slider ul.slider li:nth-child(2) {
      -webkit-animation: fade-animation-2 25s infinite;
              animation: fade-animation-2 25s infinite;
  }
  .testimonial-slider ul.slider li:nth-child(3) {
      -webkit-animation: fade-animation-3 25s infinite;
              animation: fade-animation-3 25s infinite;
  }
  .testimonial-slider ul.slider li:nth-child(4) {
      -webkit-animation: fade-animation-4 25s infinite;
              animation: fade-animation-4 25s infinite;
  }
  
  .testimonial-slider q {
     display: inline-block;
     font-style: italic;
      font-family: 'Droid Serif';
    font-size: 50px;
     letter-spacing: .5pt;
     text-shadow: 0 5px 10px rgba(0,0,0,.1);
     max-width: 35ch;
  }
  
  .testimonial-slider .source {
      margin-top: 25px;
      color: #ffffff;
      font-family: 'Montserrat';
    font-size: 30px;
  }
  
  
  /* KEYFRAME DECLARATIONS */
  @keyframes fade-animation-1 {
      0%, 25%, 100% {
          opacity:0
      }
      3%, 22% {
          opacity: 1;
      }
  }
  @keyframes fade-animation-2 {
      0%, 25%, 50%, 100% {
          opacity:0
      }
      28%, 47% {
          opacity: 1;
      }
  }
  @keyframes fade-animation-3 {
      0%, 50%, 75%, 100% {
          opacity:0
      }
      53%, 72% {
          opacity: 1;
      }
  }
  @keyframes fade-animation-4 {
      0%, 75%, 100% {
          opacity:0
      }
      78%, 97% {
          opacity: 1;
      }
  }
  
  @-webkit-keyframes fade-animation-1 {
      0%, 25%, 100% {
          opacity:0
      }
      3%, 22% {
          opacity: 1;
      }
  }
  @-webkit-keyframes fade-animation-2 {
      0%, 25%, 50%, 100% {
          opacity:0
      }
      28%, 47% {
          opacity: 1;
      }
  }
  @-webkit-keyframes fade-animation-3 {
      0%, 50%, 75%, 100% {
          opacity:0
      }
      53%, 72% {
          opacity: 1;
      }
  }
  @-webkit-keyframes fade-animation-4 {
      0%, 75%, 100% {
          opacity:0
      }
      78%, 97% {
          opacity: 1;
      }
  }
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
    .row{
      width: 100%;
      padding-left: 6%;
    }
    .abtp{
      font-size: .95em;
    }
    .abtush1{
      font-size: 2em;
    }
    .Abouth1{
      font-size: 2.2em;
    }
    .testimonial-slider .source{
        font-size: 22px;
    }
    .testimonial-slider q{
        font-size: 30px;
    }
    .explanation{
        font-size: 1.6em;
    }
    .testimonial-slider ul.slider{
        height: 225px;
    }
    .body{
        border: 7px solid #ffffff;
    }
  }