.bucket-info {
  display: flex;
  flex-direction: row;
}

.bucket-item {
  margin-top: 12.5px;
  padding-top: 12.5px;
  border-top: 2px grey;
  border-style: solid;
  border-width: thin;
  border-bottom: 2px grey;
  border-left: none;
  border-right: none;
  font-family: "Noto Sans JP", sans-serif;
}
.bucket-photo {
  height: 200px;
  width: 185px;
  padding-left: 25px;
  border-radius: 4px;
}
.Bucket-h6 {
  padding-left: 30px;
}
.Bucket-p {
  padding-left: 30px;
}
.bucket-info2 {
  padding-left: 80px;
}
.label-info {
  padding-left: 50px;
}
.del-info {
  padding-left: 10px;
}
.qty {
  font-size: 1em;
  font-weight: bold;
}
.Bucketdel {
  width: 35px;
  height: 35px;
  border: none;
  font-size: 1.5em;
  background-color: white;
  padding-top: 0;
  margin-right: 10px;
  line-height: 4px;
  /* font-family:Verdana, Geneva, Tahoma, cursive; */
}
.Bucketdel:hover{
  -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1);
}
.Bucket-h4 {
  color: crimson;
  font-size: 1.3em;
  font-weight: bolder;
  /* font-family:'Libre Baskerville', cursive ; */
}
.Bucket-h6 {
  font-size: 1.3em;
  font-weight: bolder;
  /* font-family:Verdana, Geneva, Tahoma, cursive; */
}
.Bucket-p {
  font-size: 1.1em;
  color: lightslategrey;
  font-weight: lighter;
  /* font-family: Verdana, Geneva, Tahoma, cursive; */
}

@media screen and (max-width: 685px) {
  .bucket-photo {
    height: 200px;
    width: 150px;
    padding-left: 5px;
  }
  .Bucket-h6 {
    padding-left: 5px;
  }
  .Bucket-p {
    padding-left: 5px;
  }
  .bucket-info2 {
    padding-left: 5px;
  }
  .label-info {
    padding-left: 8px;
  }
  .del-info {
    padding-left: 1.5px;
  }
  .qty {
    font-size: 1em;
    font-weight: bold;
  }
  .Bucketdel {
    width: 25px;
    height: 30px;
    background-color: white;
    font-size: 1.4em;
    /* font-family:Verdana, Geneva, Tahoma, cursive; */
  }
  .Bucket-h4 {
    color: crimson;
    font-size: 1.2em;
    font-weight: bold;
  }
  .Bucket-h6 {
    font-size: 1.1em;
    font-weight: bolder;
    /* font-family:Verdana, Geneva, Tahoma, cursive; */
  }
  .Bucket-p {
    font-size: 1.05em;
    color: lightslategrey;
    font-weight: lighter;
    /* font-family: Verdana, Geneva, Tahoma, cursive; */
  }
}
