.filters-container{
    text-align: center;
    margin-top: 25px;
} 
.gender{
    margin-left: 15px;
    font-weight: bold;
}
.price{
    margin-left: 15px;
    font-weight: bold;
}

.fselect {
    background-color: #fff;
    color: rgb(0, 0, 0);
    padding: 0px;
    width: 100px;
    border: none;
    font-size: 0.9em;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    -webkit-appearance: button;
    appearance: button;
    border-radius: 8px;
    text-align: center;
    outline: none;
    margin-left: 5px;
  }

  .color{
    font-weight: bold;
  } 
