*{
    box-sizing: border-box;
}
body, html {
    height: 100%;
    margin: 0;
  }
  
  .Landingcontainer {
    /* The image used */
    background-image: url("Media/Media-temp.jpg"); 
    height: 90vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    border: 3px solid white;
  }
  header{
    height: 89%;
    width: 50%;
    align-items: center;
    padding: 40px;
    color: white;
  }
  /* .Landingh1{
    color: #312c2c;
    font-family: "Great Vibes", cursive;
    font-size: 120px;
    line-height: 160px;
    font-weight: 1000; 
    margin-bottom: 0px;
    margin-top: 20px;
    text-align: center;
    text-shadow: 0 1px 1px #fff;
  } */
  .LandingPara{
    padding-top: 20px;
    color: #4b4747;
    /*background: #ff4a4a; */
    font-size: 5.2em;
    line-height: 1.05em;
    font-weight: 700;
    margin: 0 5px 24px; 
    padding: 10px; 
    margin: 0 5px 24px;
    font-family: "gilroy-bold";/*, "Noto Sans JP", sans-serif;*/
    text-transform: lowercase;
    text-align: left;
  }
  
  .Explorebtn{
    padding: 12px 20px;
    border: 2px solid rgb(31, 30, 30);
    background-color: #f2f2f2;
    color: #4b4747;
    margin: 17px;
    font-size: 1.5rem;
    font-weight:bold;
    border-radius: 200px;
    cursor:pointer;      
  }
  .Landingbtn{
    padding-left: 50px;
  }

  @media screen and (max-width: 685px)
  {
    .Landingcontainer{
      background-image: url("Media/Media-temp-1.jpg"); 
    }
   .Landingbtn{
       padding-left: 20px;
   }
   .Landingh1{
       font-size: 42px;
       margin-top: 0px;
       font-weight: bolder;
   }
   header{
     width: 65%;
   }
   .LandingPara{
     font-size: 3.4em;
     line-height: .95em;
   }
  }