*{
  box-sizing: border-box;
}

.single-product{ 
  width: 33%; 
  margin-top: 12px;   
}

.tile{
  width: 100%;
  padding-top: 20px;
}

.Info{
  width: 100%;
  padding-top: 10px;
  text-align: center;
  display: block;
  /* padding-left: 102px; */
}

.photo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 350px;
    width: 50%;
    border: 2px;
    border-color: black;
    border-radius: 4px;
    transition: transform .2s;
    box-shadow: 4px 4px 4px #ccc;
    -moz-box-shadow: 4px 4px 4px #ccc;
    -webkit-box-shadow: 4px 4px 4px #ccc;
    -khtml-box-shadow: 4px 4px 4px #ccc;

}
.photo:hover {
    -ms-transform: scale(1.05); /* IE 9 */
    -webkit-transform: scale(1.05); /* Safari 3-8 */
    transform: scale(1.05); 
    box-shadow: 0px 0px 0px #ccc;
  }

.Productp{
    color:rgba(0, 0, 0, 0.637);
    font-size: 1em; 
    font-weight:lighter;
    margin-bottom: 0px;
}
.Producth3{
  font-size: 1em;
  font-weight: bold;
  padding-top: 4px; 
}
.Producth6{
  font-size: 1.1em;
  padding-bottom: 0px;
  margin-bottom: 0px;
  font-weight:bold;
  padding-bottom: 4px;
}


 .add-item-btn:hover{cursor: pointer}
    .add-item-btn {
      background: transparent; outline: none;
      position: relative;
      border: 2px solid #111;
      padding: 15px 50px;
      overflow:visible;
      height: 50px;
      width: 50%;
      text-align: center;
      display: block;
      margin-left: auto;
      margin-right: auto;
      padding-top: 10px;
    }

    /*button:before (attr data-hover)*/
    .add-item-btn:hover:before{opacity: 1; transform: translate(0,0);}
    .add-item-btn:before{
      content: attr(data-hover);
      text-align: center;
      position:absolute;
      top: 1rem; left: 0;
      width: 100%;
      text-transform: uppercase;
      letter-spacing: 3px;
      font-weight: 800;
      font-size: .8em;
      opacity: 0;
      transform: translate(-100%,0);
      transition: all .3s ease-in-out;
    }
      /*button div (button text before hover)*/
      .add-item-btn:hover div{opacity: 0; transform: translate(100%,0);}
      .add-item-btn div{
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 3px;
        font-weight: 800;
        font-size: .8em;
        transition: all .3s ease-in-out;
      }
      .size{
        padding-left: 8px;
      }
      .sizes{
        padding-bottom: 3px;
      }
      .size:hover{
        font-weight:bold;
        cursor: pointer;
      }
      @media screen and (max-width: 685px)	  
      {
          .single-product{
              width: 50%;
              padding-top: 5px;
            
          }
          .tile{
            width:100%;
            box-shadow: 1px 1px 1px lightgrey;
            padding-top: 0px;
          }
          .photo{
            width:97.5%;
            height: 305px;
            border-radius: 2px;
          }
          .photo:hover{
            transform: scale(1.1);
          }
          .add-item-btn{
            width: 92%;
            height: 40px;
            text-align: center;
            display: block;
            margin-left: auto;
            margin-right: auto;
          }
          /*.Info{
            width: 100%;
            float: left;
            position: relative;
            left: -39%;
            padding-top: 16px;
          }*/
          .add-item-btn div{
            font-size: 0.6em;
          }
          .add-item-btn:before{
            font-size: 0.6em;
          }
          .Producth3{
            font-size: 1.1em;
            font-weight: bold;
            
          }
          .Producth6{
            font-weight: bold;
          }

      }
 